<script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>

<!-- VK Widget -->
<div id="vk_community_messages">The VK community chat widget has not been initialized yet. This may be because your browser blocks VK as a potential tracker. You might want to disable your browser's ad blocker, or alternatively you can visit <a href="https://vk.com/inlatexbot">the community page on VK</a>.</div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", 195258685, {expanded: "1",disableExpandChatSound: "1",tooltipButtonText: "Try it out now!"});
</script>
